name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
#    - name: Test
#      run: dotnet test --no-build --verbosity normal
    - name: Test zyborg
      uses: zyborg/dotnet-tests-report@v1
      with:
        project_path: tests/
        report_name: tests-results
        report_title: journey-markdown-converter Tests 
        github_token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Test trx
      run: dotnet test --no-build --logger trx
    - name: Test Report dorny
      uses: dorny/test-reporter@v1
      if: success() || failure()    # run this step even if previous step failed
      with:
        name: journey-markdown-converter Testresults   # Name of the check run which will be created
        path: tests/TestResults/*trx    # Path to test results
        reporter: dotnet-trx        # Format of test results
        
        
